<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example: Custom Icon</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyBjyZ4x5W5I_mRU_Xlvl01Mhr3Mq6hUe2o"
            type="text/javascript"></script>
    <script type="text/javascript">
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.450131, -122.116615), 13);
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());

        var latlng = new GLatLng(37.450131, -122.116615);
        map.addOverlay(new GMarker(latlng));

      }
    }
    </script>
  </head>

  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 600px; height: 550px"></div>

  </body>
</html>
