<table cellspacing='0' border='1'>
	<tr>
		<td>
			<%= @map.div(:width => 670, :height => 550) %>
		</td>
	</tr>
</table>		

<div id='legend_ajax'>
	<%= draw_legend(nil) %>
</div>

<% 
	draw_polygons(nil, @polygons)
	draw_polygons(nil, @district_polygons)

	# also called by _sidebar.rhtml (_district.rhtml)
	html, tagline, marker_not_found = district_draw_markers(nil)
	
 %>